In [1]:
import numpy as np
import pandas as pd

from tqdm.notebook import tqdm

In [2]:
!ls -l ../data/

total 580596
-rw------- 1 v.bugaevskii v.bugaevskii    904039 Apr 17 11:12 appl.csv
-rw------- 1 v.bugaevskii v.bugaevskii   6577695 Apr 17 11:12 aum.csv
-rw------- 1 v.bugaevskii v.bugaevskii  91636746 Apr 17 11:12 balance.csv
-rw------- 1 v.bugaevskii v.bugaevskii   1110765 Apr 17 11:12 client.csv
-rw------- 1 v.bugaevskii v.bugaevskii   6686165 Apr 17 11:12 com.csv
-rw------- 1 v.bugaevskii v.bugaevskii   7499804 Apr 17 11:12 deals.csv
-rw------- 1 v.bugaevskii v.bugaevskii     18979 Apr 17 11:12 dict_mcc.csv
-rw------- 1 v.bugaevskii v.bugaevskii   2322389 Apr 17 11:12 funnel.csv
-rw------- 1 v.bugaevskii v.bugaevskii  10553763 Apr 17 11:12 payments.csv
-rw------- 1 v.bugaevskii v.bugaevskii 467193115 Apr 17 11:12 trxn.csv

In [3]:
from pathlib import Path

In [4]:
path_df = Path('../data').rglob('*.csv')
path_df = sorted(path_df)

for path in tqdm(path_df):
    df_name = 'df_' + path.name.rsplit('.', 1)[0]
    vars()[df_name] = pd.read_csv(path)
    print(f'{path} saved to {df_name}; {df_name}.shape = {vars()[df_name].shape}')

  0%|          | 0/10 [00:00<?, ?it/s]

../data/appl.csv saved to df_appl; df_appl.shape = (12030, 6)
../data/aum.csv saved to df_aum; df_aum.shape = (117392, 4)
../data/balance.csv saved to df_balance; df_balance.shape = (1194684, 9)
../data/client.csv saved to df_client; df_client.shape = (21498, 8)
../data/com.csv saved to df_com; df_com.shape = (113055, 10)
../data/deals.csv saved to df_deals; df_deals.shape = (109016, 8)
../data/dict_mcc.csv saved to df_dict_mcc; df_dict_mcc.shape = (915, 3)
../data/funnel.csv saved to df_funnel; df_funnel.shape = (21498, 16)
../data/payments.csv saved to df_payments; df_payments.shape = (188068, 4)

/home/v.bugaevskii/.conda/envs/idao2021/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

../data/trxn.csv saved to df_trxn; df_trxn.shape = (3035705, 11)

In [5]:
df_appl

,client_id,month_end_dt,appl_prod_group_name,appl_prod_type_name,appl_stts_name_dc,appl_sale_channel_name
0,6886062013213911831,2018-10-31,PILS,PILS,The consultation is over,Network
1,4497537671718296975,2018-10-31,PILS,PILS,The consultation is over,Network
2,1316154201527307743,2018-09-30,PILS,PILS,The consultation is over,Network
3,1316154201527307743,2018-09-30,PILS,PILS,The consultation is over,Network
4,1316154201527307743,2018-09-30,PILS,PILS,The consultation is over,Network
...,...,...,...,...,...,...
12025,-7051552770088413806,2019-03-31,Mortgage,Mortgage,four,NaN
12026,-2283863549841851654,2019-02-28,Mortgage,Mortgage,four,NaN
12027,4409001434092016310,2019-03-31,Mortgage,Mortgage,2,NaN
12028,-2119157901008689776,2018-11-30,Cards,Credit cards,Issuing a card,UCHK
12029,-1065664632342440074,2018-12-31,Cards,Credit cards,Issuing a card,UCHK

In [6]:
df_appl['appl_prod_group_name'].unique()

array(['PILS', 'Cards', 'Mortgage'], dtype=object)

In [7]:
df_appl['appl_prod_type_name'].unique()

array(['PILS', 'Debit cards', 'Credit cards', 'Mortgage'], dtype=object)

In [8]:
df_appl['appl_stts_name_dc'].unique()

array(['The consultation is over', 'Issuance has been made', nan,
       'Informing the Methodics', 'Client refusal', 'Draft',
       'The documents have been prepared',
       'An agreement is required to be signed',
       'Improvement is required from the URC',
       'Verification of customer data', 'To issue',
       'Attachment of documents (after release)',
       'Bank refusal (sent to Methodics)',
       'Getting a list of customer cards', 'Issuing a card', 'Introduced',
       'Waiting for contract data', 'Attachment of documents',
       'Client refusal (Methodics)',
       'Confirmation of issue by the Controller',
       'Formation of the application', 'one', 'five', 'four', '2'],
      dtype=object)

In [9]:
df_appl['appl_stts_name_dc'].value_counts()

Issuance has been made                     4667
Issuing a card                             1255
Informing the Methodics                     828
The consultation is over                    828
Attachment of documents (after release)     599
Draft                                       153
Client refusal (Methodics)                   84
Bank refusal (sent to Methodics)             34
The documents have been prepared             34
Formation of the application                 16
An agreement is required to be signed        16
Client refusal                               16
Attachment of documents                       7
Verification of customer data                 7
four                                          5
Getting a list of customer cards              5
one                                           2
Waiting for contract data                     2
Confirmation of issue by the Controller       2
five                                          2
To issue                                      2
2                                             1
Improvement is required from the URC          1
Introduced                                    1
Name: appl_stts_name_dc, dtype: int64

In [13]:
df_appl['appl_sale_channel_name'].value_counts()

Network                  6836
Direct sales             3111
Telesales                1150
DRKK                      776
Premium                    51
Sales to FC employees      30
Heavy network               5
Mini-offices                4
UCHK                        2
SME                         1
Name: appl_sale_channel_name, dtype: int64

In [15]:
df_appl.groupby('client_id').get_group(1316154201527307743)

,client_id,month_end_dt,appl_prod_group_name,appl_prod_type_name,appl_stts_name_dc,appl_sale_channel_name
2,1316154201527307743,2018-09-30,PILS,PILS,The consultation is over,Network
3,1316154201527307743,2018-09-30,PILS,PILS,The consultation is over,Network
4,1316154201527307743,2018-09-30,PILS,PILS,The consultation is over,Network
2932,1316154201527307743,2019-07-31,PILS,PILS,NaN,Network
4175,1316154201527307743,2019-07-31,Cards,Credit cards,NaN,Network

In [32]:
columns = ['appl_prod_group_name', 'appl_prod_type_name', 'appl_stts_name_dc', 'appl_sale_channel_name']
df_features = df_appl.dropna(subset=['appl_stts_name_dc'], axis=0).sort_values('month_end_dt')\
    .groupby('client_id')[columns].apply(lambda r: r.iloc[-1])
df_features.head()

,appl_prod_group_name,appl_prod_type_name,appl_stts_name_dc,appl_sale_channel_name
client_id,,,,
-9220233431709087652,PILS,PILS,Informing the Methodics,Direct sales
-9217522148893126271,PILS,PILS,The consultation is over,Network
-9216473704060526660,PILS,PILS,The consultation is over,Network
-9210484825961669240,Cards,Credit cards,Issuance has been made,Network
-9205631574376998747,PILS,PILS,The consultation is over,Network

In [33]:
counts = df_appl['appl_stts_name_dc'].value_counts()
counts = counts[counts >= 7]
counts

Issuance has been made                     4667
Issuing a card                             1255
Informing the Methodics                     828
The consultation is over                    828
Attachment of documents (after release)     599
Draft                                       153
Client refusal (Methodics)                   84
Bank refusal (sent to Methodics)             34
The documents have been prepared             34
Formation of the application                 16
An agreement is required to be signed        16
Client refusal                               16
Attachment of documents                       7
Verification of customer data                 7
Name: appl_stts_name_dc, dtype: int64

In [34]:
df_features = df_features[df_features['appl_stts_name_dc'].isin(set(counts.index))]
df_features

,appl_prod_group_name,appl_prod_type_name,appl_stts_name_dc,appl_sale_channel_name
client_id,,,,
-9220233431709087652,PILS,PILS,Informing the Methodics,Direct sales
-9217522148893126271,PILS,PILS,The consultation is over,Network
-9216473704060526660,PILS,PILS,The consultation is over,Network
-9210484825961669240,Cards,Credit cards,Issuance has been made,Network
-9205631574376998747,PILS,PILS,The consultation is over,Network
...,...,...,...,...
9195100824581519703,PILS,PILS,Informing the Methodics,Network
9208642641844740200,Cards,Debit cards,Issuance has been made,Direct sales
9210268912367210109,PILS,PILS,Issuance has been made,Network
9213178145161007127,Cards,Credit cards,Issuance has been made,Network
9223107459698100059,Cards,Debit cards,Issuance has been made,Direct sales

In [35]:
df_features.to_csv('appl_features.csv')